{% extends 'base.html' %}
{% load static %}

{% block title %}group_update{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="task-detail-container">
    <h2>グループ詳細・編集</h2>

    <!-- フォームを使って全項目（タイトル、説明、数字など）を表示・編集できるようにする -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">グループ設定を保存する</button>
    </form>

    <form method="post" action="{% url 'accounts:add_member' group.pk %}">
        {% csrf_token %}
        {{ member_form.as_p }}
        <button type="submit" class="btn btn-primary">このメンバーを追加する</button>
    </form>

    <div>
        <h2>メンバー一覧</h2>

        {% for m in group.members.all %}
            <p>{{ m.display_name_or_username }}</p>
            <form method="post" action="{% url 'accounts:remove_member' group.pk %}">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{ m.username }}">
                <button type="submit">削除</button>
            </form>
        {% empty %}
            <p class="empty">メンバーが居ません</p>
        {% endfor %}
    </div>

</div>
{% endblock %}

{% block extra_js %}
{% endblock %}