{% extends 'base.html' %}
{% load static %}

{% block title %}ホーム画面{% endblock %}

{% block extra_css %}
    <!-- FullCalendarのCSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/fullcalendar@7.1.0/skeleton.css"
        rel="stylesheet"
    />
    <link
        href="https://cdn.jsdelivr.net/npm/fullcalendar@7.1.0/themes/monarch/theme.css"
        rel="stylesheet"
    />
    <link
        href="https://cdn.jsdelivr.net/npm/fullcalendar@7.1.0/themes/monarch/palettes/purple.css"
        rel="stylesheet"
    />
    
    <link rel="stylesheet" href="{% static 'css/components/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <h2>次の予定</h2>

    {% if project %}
        <a href="{% url 'schedules:project_detail' project.pk %}" class="card schedule-card">
            <div class="schedule-card-main">
                <h3>{{ project.title }}</h3>

                <p class="schedule-time">
                    {{ project.scheduled_at|date:"n/j H:i" }} 開始
                </p>
            </div>

            <div class="schedule-card-footer">
                <span>工程表を見る</span>
                <span class="schedule-arrow">›</span>
            </div>
        </a>
    {% else %}
        <div class="card schedule-card empty-card">
            <p class="card-text">次の予定はありません。</p>
        </div>
    {% endif %}

    <h2>予定を確認</h2>
    <div id="calendar" data-create-url="{% url 'schedules:project_create' %}"></div>
    {{ projects_json|json_script:"projects-data" }}

{% endblock %}

{% block extra_js %}
    <!-- FullCalendar本体 -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@7.1.0/all/global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@7.1.0/themes/monarch/global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@7.1.0/locales/ja/global.js"></script>

    <script src="{% static 'js/project_calendar.js' %}"></script>
{% endblock %}