{% extends 'base.html' %}
{% load static %}

{% block title %}ホーム画面{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    <h2>次の予定</h2>
    {% if project %}
        <a href="{% url 'schedules:project_detail' project.pk %}" class="schedule-card">
            <div class="schedule-card-main">
                <h3>{{ project.title }}</h3>

                <p class="schedule-time">
                    {{ project.scheduled_at|date:"n/j H:i" }} 開始
                </p>
            </div>

            <div class="schedule-card-footer">
                <span>工程表を見る</span>
                <span class="schedule-arrow">›</span>
            </div>
        </a>
    {% else %}
        <div class="schedule-card empty-card">
            <p>次の予定はありません。</p>
        </div>
    {% endif %}

{% endblock %}