{% extends 'base.html' %}
{% load static %}

{% block title %}レシピ一覧{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="top">
            <h1>メンバー一覧</h1>
        </div>

        <ul class="list">
            {% for membership in membership_list %}
                <li class="item">
                    <span class="title">{{ membership }}</span>
                </li>
            {% endfor %}
        </ul>
        
        <a href="{% url 'schedules:membership_create' project.pk %}">メンバーを追加</a>
    
    </div>
{% endblock %}