{% extends 'base.html' %}
{% load static %}

{% block title %}レシピ一覧{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="top">
            <h1>道具一覧</h1>
        </div>

        <ul class="list">
            {% for tool in tool_list %}
                <li class="item">
                    <a href="{% url 'tasks:tool_detail' project.pk tool.pk %}" class="link">
                        <span class="title">{{ tool.name }}</span>
                    </a>
                </li>
            {% empty %}
                <p class="empty">まだ道具が登録されていません。</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}