{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="site-header">
        <div class="header-inner">
            <p> ヘッダー</p>
            <nav class="nav-menu">
                <a href="{% url 'core:home' %}">ホーム</a>
                <a href="{% url 'recipes:list' %}">レシピ一覧</a>
                <a href="{% url 'tasks:list' %}">献立一覧</a>
                <a href="{% url 'accounts:profile' %}">プロフィール</a>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; ore</p>
    </footer>
    {% block extra_js %}{% endblock %}
    <form>{% csrf_token %}</form>
</body>
</html>