{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/common.css' %}">

    <link rel="icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <nav class="bottom-nav">
        <a href="{% url 'core:home' %}" class='nav-item'>ホーム</a>
        <a href="{% url 'recipes:recipe_list' %}" class='nav-item'>レシピ</a>
        <a href="{% url 'schedules:project_list' %}" class='nav-item'>工程表</a>
        <a href="{% url 'accounts:profile' %}" class='nav-item'>マイページ</a>
    </nav>

    {% block extra_js %}{% endblock %}
</body>

</html>