{% extends 'base.html' %}
{% load static %}
{% block title %}レシピ一覧{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}
{% block content %}
    <h1>レシピ一覧</h1>

    {% for recipe in recipes %}
        <h2>{{ recipe.title }}</h2>
        
        <h3>工程</h3>
        {% for step in recipe.steps.all %}
            <details>
                <summary>{{ step.order }}. {{ step.description|truncatechars:20 }}</summary>
                <div class="step-content">
                    <p>{{ step.description }}</p>
                </div>
            </details>
        {% empty %}
            <p>まだ工程が登録されていません。</p>
        {% endfor %}
        <hr>
    {% endfor %}
{% endblock %}