{% extends 'base.html' %}
{% load static %}
{% block title %}レシピ一覧{% endblock %}
{% block extra_css %}
  <link href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
  <h2>{{ project.title }} の工程表</h2>

  <div class="gantt-chart">
    {% for task in tasks %}
      <div class="task-bar" style="grid-column: {{ task.start_grid }} / {{ task.end_grid }};">
        {{ task.title }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
{% block extra_js %}
  <script src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
    <link rel="stylesheet" href="{% static 'js/project_detail.js' %}">
{% endblock %}