{% extends 'base.html' %}
{% load static %}

{% block title %}tool_detail{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="tool-detail-container">
    <h2>タスク詳細・編集</h2>

    <!-- フォームを使って全項目（タイトル、説明、数字など）を表示・編集できるようにする -->
    <form method="post" action="{% url 'tasks:tool_detail' project_pk=view.kwargs.project_pk tool_pk=tool.pk %}">
        {% csrf_token %}
        {{ tool_form.as_p }}
        <button type="submit" class="btn btn-primary">保存する</button>
    </form>
</div>
{% endblock %}

{% block extra_js %}{% endblock %}